.our-story-section {
    padding: 100px 0;
    background: #fff;
    text-align: left;
}

.our-story-content {
    max-width: 760px;
    margin: 0 auto;
}

.our-story-content h1 {
    font-size: 4rem;
    font-weight: 300;
    color: #1a1a1a;
    margin-bottom: 60px;
}

.our-story-content p {
    /* font-size: 1.35rem; */
    line-height: 2;
    color: #666;
    font-weight: 300;
    margin-bottom: 42px;
}